.wrapper{
    width: 40%;
    margin: 0 auto;
}

.choices{
    width: 80%;
    list-style: none;
    & .choice{
        border: 1px solid black;
        width: 100%;
        padding: 1em;
        margin-bottom: 1em;

        &_correct{
            background-color: blue;
            margin-bottom: 1em;
            pointer-events: none;
        }
        &_wrong{
            background-color: red;
            margin-bottom: 1em;
            pointer-events: none;
        }
        &_another{
            pointer-events: none;
        }
    }
}

